* {
    box-sizing: border-box;
}
  
h1, h2 {
    text-align: center;
}

:root {
    --point-color: #ff002f;
    --tracker-color: lightgray;
    --error-color: #ee002c;
}

#root {
    width: 100vw;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#root {
    height: 100%;   
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/loading-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: min(95vw, 80rem);
    padding-inline: 2rem;
    background-color: rgba(255, 255, 255, .9);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

main > * {
    width: 70%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btnWrapper {
    display: flex;
    justify-content: center;
}

input {
    text-align: center;
    width: max(50%, 10rem);
}

h1 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 100%;
    padding: 1rem 0;

}

h2 {
    text-align: center;
    padding-bottom: .5rem;
    border-bottom: 2px solid rgba(175, 175, 175, 0.712);
}

h3 {
    margin-top: 3rem;
    text-align: center;
    padding-bottom: .5rem;
    border-bottom: 2px solid rgba(175, 175, 175, 0.712);
}

.pointSpan {
    color: var(--point-color);
}

.trackerSpan {
    color: var(--tracker-color);
}

.errText {
    color: var(--error-color);
    font-weight: bold;
}

.subHeaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentScroller {
    flex: 1;
    background-color: white;
    overflow-y: auto;
}

.content {
    padding: 2rem;
}

#progressVideo {
    min-height: 40rem;
    border-radius: 8px;
}

#progressVideoWrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.techUl {
    padding-left: 1.5rem;
}

.techLi {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}

#attributionWrapper {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    gap: .2rem;
    padding-bottom: 1rem;
}

#headerImgsWrapper {
    display: flex;
    gap: 1rem;
    padding: 3rem 0;
}

.headerImg {
    max-width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
}

.ulHeader {
    margin-bottom: 0;
}

#aboutMeImg {
    max-height: 15rem;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
}

#aboutMeImgWrapper {
    display: flex;
    justify-content: center;
}